# Pivoting

## [Michel Bierlaire](https://people.epfl.ch/michel.bierlaire), EPFL.

In [1]:
import numpy as np
import pandas as pd

The following algorithm performs a pivoting on a simplex tableau.

This is Algorithm 16.3 in <a href="http://optimizationprinciplesalgorithms.com/">Bierlaire (2015) Optimization: principles and algorithms, EPFL Press.</a>

In [2]:
def pivoting(tableau, p, q):
    """
    :param tableau: valid simplex tableau
    :type tableau: numpy.array 2D
    
    :param p: columns of the pivot
    :type p: int
    
    :param q: row of the pivot
    ;type q: int
    """
    m, n = tableau.shape
    if q >= m:
        raise Exception(f'The row of the pivot ({q}) must be between 0 and {m - 1})')
    if p >= n:
        raise Exception(f'The column of the pivot ({p}) must be between 0 and {n - 1})')
    thepivot = tableau[q][p]
    if np.abs(thepivot) < np.finfo(float).eps:
        raise Exception(f'The pivot is too close to zero: {thepivot}')
    thepivotrow = tableau[q, :]
    newtableau = np.empty(tableau.shape)
    newtableau[q, :] = tableau[q, :] / thepivot
    for i in set(range(m)) - {q}:
        newtableau[i, :] = tableau[i, :] - tableau[i][p] * thepivotrow / thepivot
    return newtableau

# Example 1

Consider the tableau \\[\begin{array}{|c c c c c c | c |}
\hline x_1 & x_2 & x_3 & x_4 & x_5 & x_6 & \\
\hline
0 & 1.5 & 1 & 1 & -0.5 & 0 & 10\\
1 & 0.5 & 1 & 0 & 0.5 & 0 & 10\\
0 & 1 & -1 & 0 & -1 & 1 & 0\\
\hline
0 & -7 & -2 & 0 & 5 & 0 & 100\\
\hline
\end{array}\\]

Perform a pivoting where the row of the pivot is 3 and the column of the pivot is 2. Remember that Python starts counting from 0 and not from 1.

In [3]:
tableau = np.array([[0, 1.5, 1, 1, -0.5, 0, 10], 
                    [1, 0.5, 1, 0, 0.5, 0, 10], 
                    [0, 1, -1, 0, -1, 1, 0], 
                    [0, -7, -2, 0, 5, 0, 100]])
p = 1 # Column 2 - 1
q = 2 # Row 3 - 1
newtableau = pivoting(tableau, p, q)

In [4]:
print('The new tableau is :')
print(pd.DataFrame(newtableau).to_string(index = False, header = False))

The new tableau is :
 0.0  0.0  2.5  1.0  1.0 -1.5   10.0
 1.0  0.0  1.5  0.0  1.0 -0.5   10.0
 0.0  1.0 -1.0  0.0 -1.0  1.0    0.0
 0.0  0.0 -9.0  0.0 -2.0  7.0  100.0

# Example 2

Consider the tableau \\[\begin{array}{|c c c c c c | c |} \hline x_1 & x_2 & x_3 & x_4 & x_5 & x_6 &\\ \hline 1&5&3&7&0&0 & 12 \\ 0&6&9&0&1&0 & 6\\ \hline 0&0&3&7&0&1 & 0\\ \hline \end{array}. \\]

The basic variable are $x_1,x_5,x_6$. We want to remove the variable $x_5$ from the basis and incorporate the variable $x_2$. The pivot is at row 2, column 2. Note that this pivoting strategy is not related to a meaningful simplex iteration.

In [5]:
tableau = np.array([[1, 5, 3, 7, 0, 0, 12], 
                    [0, 6, 9, 0, 1, 0, 6], 
                    [0, 0, 3, 7, 0, 1, 0]])
p = 1 # Column 2 - 1 
q = 1 # Row 2 - 1
newtableau = pivoting(tableau, q, p)

In [6]:
print('The new tableau is :')
print(pd.DataFrame(newtableau).to_string(index = False, header = False))

The new tableau is :
 1.0  0.0 -4.5  7.0 -0.833333  0.0  7.0
 0.0  1.0  1.5  0.0  0.166667  0.0  1.0
 0.0  0.0  3.0  7.0  0.000000  1.0  0.0